.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .upload-section {
    margin-bottom: 20px;
  }
  
  .upload-section h3, .assignments-section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-right: 10px;
  }
  
  button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .grade-button {
    background-color: #28a745;
  }
  
  .grade-button:hover {
    background-color: #218838;
  }
  
  .download-button {
    background-color: #dc3545;
  }
  
  .download-button:hover {
    background-color: #c82333;
  }

  .smit-logo{
    width: 200px;
    height: auto;

  }